go 1.26

use (
	./document-driver-manager
	./document-drivers/couchdb
	./document-drivers/mongo
	./gorix
	./impl-test
	./sql-driver-manager
	./sql-drivers/mssql
	./sql-drivers/mysql
	./sql-drivers/oracle
	./sql-drivers/postgres
	./sql-drivers/sqlite-modern
	./sql-drivers/sqlite3
)
